LeePeiLin_20251120152827/Microsoft.Flow/flows/f5ac9f20-e33f-4906-b865-b526a0f16da1/definition.json
{"name":"87f89922-836a-4320-885f-fcd81ff09cae","id":"/providers/Microsoft.Flow/flows/87f89922-836a-4320-885f-fcd81ff09cae","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"RPA_FINAL_Exercise_G37","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"368ff953-9e25-4ac6-8801-b1ed26f13b49","type":"User","tenantId":"84187be3-037e-41ec-889c-a150fe476432"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-11-20T15:19:31.5608855Z","connectionKeySavedTimeKey":"2025-11-20T15:19:31.5608855Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"ee6b5080-6ca9-4913-a4a1-a700560ea040"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"43sYhH4D7EGInKFQ_kdkMlP5jzYlnsZKiAGx7SbxO0lUOUI3UDJZQjc0Q1haT1pFNDNKM05GNkc4Ri4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"cf0a2e3e-0ffb-4e11-9412-bc9a29bf629e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"43sYhH4D7EGInKFQ_kdkMlP5jzYlnsZKiAGx7SbxO0lUOUI3UDJZQjc0Q1haT1pFNDNKM05GNkc4Ri4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Update_Email_Status":["Succeeded"]},"metadata":{"operationMetadataId":"b75d5e04-669c-44a5-b70a-d0f3a1763cc4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Lab Assignments Submission","name":"@{outputs('Get_response_details')?['body/r80435cfab20f4c5bb17f1f15684fd574']}_@{outputs('Get_response_details')?['body/rba19f5616d964220b4b0ad3c13c99e77']}_@{outputs('Get_response_details')?['body/r2dd9ebe52d364ce9a5c15c54c57cac0a']}","body":"@outputs('Get_response_details')?['body/rf9f5f558b6ee459b9adb673addf262e3']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"List_rows_present_in_a_table":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"014ZB333OOJFL6DS3EPJH3UHJIRKTX6TEY":"/Lab Assignments Submission/Assignment Submission Datelines.xlsx","tableId":"{BFBAF82C-AEAD-4E65-AE44-CCCA03D733BE}","operationMetadataId":"2a08bebc-9954-4e73-8c40-d59bea98f163"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!PUCz39pjrE-WmrXb1r3dySs-iQIGTj9Jpx4AC1-MRfn5bf2ZgLdmSKiqHjuXkXLD","file":"014ZB333OOJFL6DS3EPJH3UHJIRKTX6TEY","table":"{BFBAF82C-AEAD-4E65-AE44-CCCA03D733BE}"},"authentication":"@parameters('$authentication')"}},"Update_Email_Status":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"014ZB333OH724UUEGMJFBIEQVQACD3H3ZW":"/Lab Assignments Submission/Assignment Submission Summary (Each Group).xlsx","014ZB333ND5U3XKG5BKZB3UNZRPW5WTBI4":"/Group Lab Assignment Submission Portal.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","operationMetadataId":"04da9ea1-45c4-414e-b57e-9732e2c573e9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!PUCz39pjrE-WmrXb1r3dySs-iQIGTj9Jpx4AC1-MRfn5bf2ZgLdmSKiqHjuXkXLD","file":"014ZB333ND5U3XKG5BKZB3UNZRPW5WTBI4","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"Id","id":"@triggerOutputs()?['body/resourceData/responseId']","item/Email Sent Status":"'Not Sent'"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"d88d101b-bcbf-44f8-8cf1-f0ddb2684b2b"},"type":"Compose","inputs":"@outputs('Get_response_details')?['body/r2dd9ebe52d364ce9a5c15c54c57cac0a']"},"Filter_array":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"e92f82de-fa26-4a34-a1d3-ab4492c89b92"},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","where":"@equals(item()?['Assignment Week'], outputs('Get_response_details')?['body/r2dd9ebe52d364ce9a5c15c54c57cac0a'])"}},"Delay":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"3f8d6b36-dd5d-49bc-b29a-41131a88d136"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Terminate_3_1":{"runAfter":{"Condition_:_True-_Late_;_false_-_On_Time":["Succeeded"]},"metadata":{"operationMetadataId":"2c45c8b9-233e-4b70-8755-a8512f8d114d"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Get_Current_Week_DueDate":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"a0c82558-52a5-408c-806b-fa839f922e9b"},"type":"Compose","inputs":"@first(body('Filter_array'))?['DueDate']"},"Extract_Submission_Date":{"runAfter":{"Get_Current_Week_DueDate":["Succeeded"]},"metadata":{"operationMetadataId":"e86f6cc8-83c4-4a22-b2c5-df7ddca59a76"},"type":"Compose","inputs":"@ticks(outputs('Get_response_details')?['body/submitDate'])"},"Convert_Due_Date_to_Number":{"runAfter":{"Extract_Submission_Date":["Succeeded"]},"metadata":{"operationMetadataId":"d072f59e-d6c2-4433-839e-3636c43c1d9d"},"type":"Compose","inputs":"@ticks(addDays('1899-12-30', int(outputs('Get_Current_Week_DueDate'))))"},"Condition_:_True-_Late_;_false_-_On_Time":{"actions":{"Sent_an_Email_(Late_Submission)":{"runAfter":{},"metadata":{"operationMetadataId":"504e0ad7-14a2-493a-8831-27e310fafaf2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/rc921bbde2e4d484293ad8d6aef458321']","emailMessage/Subject":"Late Submission : @{outputs('Get_response_details')?['body/r80435cfab20f4c5bb17f1f15684fd574']}- @{outputs('Get_response_details')?['body/r2dd9ebe52d364ce9a5c15c54c57cac0a']}","emailMessage/Body":"<p class=\"editor-paragraph\">Hi @{outputs('Get_response_details')?['body/r7cf1d61a48f04d16adcc623199fc7e6d']}(@{outputs('Get_response_details')?['body/rba19f5616d964220b4b0ad3c13c99e77']}) - Group: @{outputs('Get_response_details')?['body/r80435cfab20f4c5bb17f1f15684fd574']} ,<br><br>Your assignment for was submitted <b><strong class=\"editor-text-bold\">late</strong></b>.<br><br>Submission Time:@{outputs('Get_response_details')?['body/submitDate']}<br><br>Dateline of submission: @{formatDateTime(addDays('1899-12-30', int(outputs('Get_Current_Week_DueDate'))), 'MM/dd/yyyy hh:mm tt')}<br><br><b><strong class=\"editor-text-bold\">Please note this may affect your grade.</strong></b><br><br>Missing members (if any):@{outputs('Get_response_details')?['body/r4df2c84a32654ddcb053855207e5e9dd']}<br><br>Regards,<br>Automated Assignment System</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_Email_Status_to_Sent":{"runAfter":{"Sent_an_Email_(Late_Submission)":["Succeeded"]},"metadata":{"014ZB333OH724UUEGMJFBIEQVQACD3H3ZW":"/Lab Assignments Submission/Assignment Submission Summary (Each Group).xlsx","014ZB333ND5U3XKG5BKZB3UNZRPW5WTBI4":"/Group Lab Assignment Submission Portal.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","operationMetadataId":"cc9b1554-eb03-4ea9-a276-c31f0c7198a6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!PUCz39pjrE-WmrXb1r3dySs-iQIGTj9Jpx4AC1-MRfn5bf2ZgLdmSKiqHjuXkXLD","file":"014ZB333ND5U3XKG5BKZB3UNZRPW5WTBI4","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"Id","id":"@triggerOutputs()?['body/resourceData/responseId']","item/Email Sent Status":"'Sent'"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Convert_Due_Date_to_Number":["Succeeded"]},"else":{"actions":{"Sent_an_Email_(OnTime_Submission)":{"runAfter":{},"metadata":{"operationMetadataId":"928fc60a-59c0-42d4-ab0a-5a1acfab3f93"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/rc921bbde2e4d484293ad8d6aef458321']","emailMessage/Subject":"Assignment Submission :  @{outputs('Get_response_details')?['body/r80435cfab20f4c5bb17f1f15684fd574']}- @{outputs('Get_response_details')?['body/r2dd9ebe52d364ce9a5c15c54c57cac0a']}","emailMessage/Body":"<p class=\"editor-paragraph\">Hi @{outputs('Get_response_details')?['body/r7cf1d61a48f04d16adcc623199fc7e6d']}(@{outputs('Get_response_details')?['body/rba19f5616d964220b4b0ad3c13c99e77']}) - Group: @{outputs('Get_response_details')?['body/r80435cfab20f4c5bb17f1f15684fd574']} ,<br><br>Your assignment for has been successfully submitted <b><strong class=\"editor-text-bold\">on time</strong></b>.<br><br>Submission Time:@{outputs('Get_response_details')?['body/submitDate']}<br><br>Dateline of submission:@{formatDateTime(addDays('1899-12-30', int(outputs('Get_Current_Week_DueDate'))), 'MM/dd/yyyy hh:mm tt')}<br><br>Thank you for submitting your assignment on time.<br><br>Missing members (if any):@{outputs('Get_response_details')?['body/r4df2c84a32654ddcb053855207e5e9dd']}<br><br>Regards,<br>Automated Assignment System</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_Email_Status_to_Sent_2":{"runAfter":{"Sent_an_Email_(OnTime_Submission)":["Succeeded"]},"metadata":{"014ZB333OH724UUEGMJFBIEQVQACD3H3ZW":"/Lab Assignments Submission/Assignment Submission Summary (Each Group).xlsx","014ZB333ND5U3XKG5BKZB3UNZRPW5WTBI4":"/Group Lab Assignment Submission Portal.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","operationMetadataId":"cc9b1554-eb03-4ea9-a276-c31f0c7198a6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!PUCz39pjrE-WmrXb1r3dySs-iQIGTj9Jpx4AC1-MRfn5bf2ZgLdmSKiqHjuXkXLD","file":"014ZB333ND5U3XKG5BKZB3UNZRPW5WTBI4","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"Id","id":"@triggerOutputs()?['body/resourceData/responseId']","item/Email Sent Status":"'Sent'"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greater":["@outputs('Extract_Submission_Date')","@outputs('Convert_Due_Date_to_Number')"]}]},"metadata":{"operationMetadataId":"53b00a55-cce9-4d81-8f6f-540df0744ec9"},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-525dca46-ced5-43fd-bad7-f94d708181d1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-3342e742-a989-4380-9cb6-4c588fe828b1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-ee96284f-9c1f-4cbf-acfd-98f2c09eab9a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"bbf02614c596480ab5c3fc3f36a107d1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}